@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;900&display=swap');

* {
    --navbar-bg-color: #0C1821;
    --section-color: #324a5f;
    --font-color: white;
    --bg-color: #1b2a41;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    background-color: var(--bg-color);
    color: var(--font-color);
}

main {
    margin-top: 80px;
}

main header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M61.53337034961512 18.184689437827497L-39.05654828234923 62.97020666562962 5.728968945452884 163.56012529759397 106.31888757741723 118.77460806979185z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M985.353%2c240.147C1035.885%2c239.914%2c1086.15%2c224.836%2c1114.845%2c183.241C1147.982%2c135.207%2c1163.911%2c72.738%2c1136.317%2c21.319C1107.503%2c-32.373%2c1046.185%2c-61.604%2c985.353%2c-58.055C929.77%2c-54.812%2c888.654%2c-11.62%2c862.1%2c37.318C836.991%2c83.593%2c826.434%2c139.454%2c853.774%2c184.446C880.283%2c228.07%2c934.307%2c240.383%2c985.353%2c240.147' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1425.5809953513094 383.43035012118514L1265.89471639689 349.32889128083684 1307.6273992919907 485.83034640464473z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1435.6146846979784 111.39792961043204L1481.6364691255467 34.80481804647148 1343.7359095658217 4.068697187099275z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M430.553%2c297.332C470.886%2c296.642%2c505.92%2c271.926%2c525.928%2c236.899C545.765%2c202.172%2c547.885%2c160.249%2c528.992%2c125C508.985%2c87.672%2c472.87%2c60.685%2c430.553%2c58.952C385.165%2c57.093%2c339.224%2c76.658%2c317.084%2c116.323C295.397%2c155.176%2c305.715%2c202.563%2c329.349%2c240.264C351.396%2c275.434%2c389.05%2c298.042%2c430.553%2c297.332' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M804.5554862296574 289.94732836915836L882.4433366288266 382.77045390180854 975.2664621614767 304.8826035026393 897.3786117623076 212.05947796998916z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

header h1 {
    font-size: 80px;
}

button {
    background: none;
	color: inherit;
	border: none;
    cursor: pointer;
    font-weight: bold;
    font-family: inherit;
    border-radius: 5px;
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    
}

section h2 {
    font-size: 50px;
    margin: 0;
}

footer {
    background-color: #000000;
    height: 100px;
    display: flex;
    align-items: center;
}

footer p {
    margin: 0;
    padding-left: 20px;
}

.navbar {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    background-color: var(--navbar-bg-color);
    padding-left: 0;
    padding-right: 150px;
    margin: auto;
    box-sizing: border-box;
    gap: 0 50px;
}

.navbar li {
    border-bottom: 2px solid var(--navbar-bg-color);
}

.navbar li a {
    text-decoration: none;
    color: inherit;
    font-weight: lighter;
}

.navbar li a.active {
    border-bottom: 2px solid var(--font-color);
}

.section__container {
    display: flex;
    height: 600px;
    width: 60%;
    padding: 0 100px;
    border-radius: 5px;
    gap: 0 100px;
    margin: 0 auto;
    align-items: center;
    background-color: var(--section-color);
}

.section__container img {
    border-radius: 10px;
}

.section__img {
    height: 300px;
    width: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.inner__container button {
	padding: 10px 20px;
	background-color: var(--navbar-bg-color);
}

.scroll__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    padding: 20px;
    background: center no-repeat url('../img/arrow-up.svg') var(--font-color);
    position: fixed;
    right: 30px;
    bottom: 30px;
    opacity: 1;
    transform: translate(0, 0);
    transition: all 2s;
}

.hidden {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1s;
}

@media(max-width: 1390px) {
    .section__container {
        flex-direction: column;
        justify-content: center;
        height: 700px;
        padding: 0 50px;
        gap: 20px 0;
    }
}

@media(max-width: 1024px) {
    section {
        padding-top: 100px;
    }

    footer {
        margin-top: 100px;
    }

    .navbar {
        justify-content: center;
        padding: 0;
    }

    .section__container {
        flex-direction: column;
        justify-content: center;
        height: 800px;
        padding: 0 50px;
        gap: 20px 0;
    }

    .section__container h2 {
        margin: 0;
    }

    .section__container p {
        margin-top: 10px;
    }

    .section__img {
        height: 35%;
        width: min(100%, auto);
    }
}

@media(max-width: 600px) {
    header {
        margin-top: 200px;
        text-align: center;
    }

    section {
        margin: 100px 0;
        padding-top: 310px;
    }
    
    footer {
        margin-top: 200px;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 200px;
        padding: 0;
    }

    .section__container {
        flex-direction: column;
        justify-content: center;
        height: max-content;
        padding: 30px 50px;
        gap: 20px 0;
    }

    .section__img {
        height: 170px;
        width: auto;
    }
}

@media(max-width: 320px) {
    section {
        padding-top: 350px;
    }
}