@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;900&display=swap');

* {
    --navbar-bg-color: #0C1821;
    --section-color: #324a5f;
    --font-color: white;
    --bg-color: #1b2a41;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    background-color: var(--bg-color);
    color: var(--font-color);
}

main {
    margin-top: 80px;
}

main header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background: url('../img/header-bg.png');
}

header h1 {
    font-size: 80px;
}

button {
    background: none;
	color: inherit;
	border: none;
    cursor: pointer;
    font-weight: bold;
    font-family: inherit;
    border-radius: 5px;
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    
}

section h2 {
    font-size: 50px;
    margin: 0;
}

footer {
    background-color: #000000;
    height: 100px;
    display: flex;
    align-items: center;
}

footer p {
    margin: 0;
    padding-left: 20px;
}

.navbar {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    background-color: var(--navbar-bg-color);
    padding-left: 0;
    padding-right: 150px;
    margin: auto;
    box-sizing: border-box;
    gap: 0 50px;
}

.navbar li {
    border-bottom: 2px solid var(--navbar-bg-color);
}

.navbar li a {
    text-decoration: none;
    color: inherit;
    font-weight: lighter;
}

.navbar li a.active {
    border-bottom: 2px solid var(--font-color);
}

.section__container {
    display: flex;
    height: 600px;
    width: 60%;
    padding: 0 100px;
    border-radius: 5px;
    gap: 0 100px;
    margin: 0 auto;
    align-items: center;
    background-color: var(--section-color);
}

.section__container img {
    border-radius: 10px;
}

.section__img {
    height: 300px;
    width: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.inner__container button {
	padding: 10px 20px;
	background-color: var(--navbar-bg-color);
}

.scroll__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    padding: 20px;
    background: center no-repeat url('../img/arrow-up.svg') var(--font-color);
    position: fixed;
    right: 30px;
    bottom: 30px;
    opacity: 1;
    transform: translate(0, 0);
    transition: all 2s;
}

.hidden {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1s;
}

@media(max-width: 1390px) {
    .section__container {
        flex-direction: column;
        justify-content: center;
        height: 700px;
        padding: 0 50px;
        gap: 20px 0;
    }
}

@media(max-width: 1024px) {
    section {
        padding-top: 100px;
    }

    footer {
        margin-top: 100px;
    }

    .navbar {
        justify-content: center;
        padding: 0;
    }

    .section__container {
        flex-direction: column;
        justify-content: center;
        height: 800px;
        padding: 0 50px;
        gap: 20px 0;
    }

    .section__container h2 {
        margin: 0;
    }

    .section__container p {
        margin-top: 10px;
    }

    .section__img {
        height: 35%;
        width: min(100%, auto);
    }
}

@media(max-width: 600px) {
    header {
        margin-top: 200px;
        text-align: center;
    }

    section {
        margin: 100px 0;
        padding-top: 310px;
    }
    
    footer {
        margin-top: 200px;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 200px;
        padding: 0;
    }

    .section__container {
        flex-direction: column;
        justify-content: center;
        height: max-content;
        padding: 30px 50px;
        gap: 20px 0;
    }

    .section__img {
        height: 170px;
        width: auto;
    }
}

@media(max-width: 360px) {
    section {
        padding-top: 370px;
    }
}